body {
    background-color: var(--background-color);
    overflow-x: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -999;
    pointer-events: none;
}

/* Blobs */

#headerBlobCtn,
#underHeaderBlobCtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    z-index: -300;
}

#headerBlobCtn {
    transform: translate(-45%, -50%);
}
#headerBlob {
    height: 100%;
    width: 100%;
    animation: headerBlobAnim 25s infinite alternate;
}
@keyframes headerBlobAnim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-40deg);
    }
}

#underHeaderBlobCtn {
    transform: translate(-100%, -100%);
}
#underHeaderBlob {
    height: 200%;
    width: 200%;
    animation: underHeaderBlobAnim 25s infinite alternate;
    opacity: 1;
}
@keyframes underHeaderBlobAnim {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 0.1;
    }
}

/* Cross pattern */

.crossPatternCtn {
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -200;
}

/* Grain */

.grain {
    height: 100%;
    background-color: #060612;
    opacity: 20%;
    z-index: -100;
}

.grain:after {
    content: "";
    background-image: url("https://arc.net/noise-light.png");
    height: var(--grain-height);
    width: 100%;
    left: -100%;
    top: -100%;
    position: absolute;
    inset: 0;
    opacity: 0.75;
}