:root {
    --background: #060612;
    --text-color: #D1DEF5;
    --secondary-text-color: #849ECD;
}

* {
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    color: var(--text-color);
}

.gradientText {
    background: linear-gradient(to bottom, var(--text-color), var(--secondary-text-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Navbar */

nav {
    background-color: transparent;
    backdrop-filter: blur(25px);
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    height: 60px;
    width: 60vw;
    border-radius: 50px;
    z-index: 1000;
}

/* Gradient border */
    nav::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50px;
        padding: 1px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.1));
        mask:
            linear-gradient(white 0 0) content-box, 
            linear-gradient(white 0 0);
        -webkit-mask:
            linear-gradient(white 0 0) content-box, 
            linear-gradient(white 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        pointer-events: none;
        z-index: -1;
    }

nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    margin: 0;
}

nav ul li {
    margin-right: 5%;
    font-size: 16px;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li:first-child {
    margin-right: auto;
    font-size: 24px;
    font-weight: bolder;
}

nav ul li:first-child a:hover {
    text-decoration: none;
}

nav ul li:last-child {
    margin-left: auto;
    margin-right: -18px;
}

nav ul li:last-child a {
    color: black;
    padding: 0.5em 1em;
    border-radius: 50px;
    background: linear-gradient(var(--text-color), var(--secondary-text-color));
}

nav ul li:last-child a:hover {
    background: var(--text-color);
    text-decoration: none;
}

nav ul li:nth-last-child(2) a {
    margin: 0;
}


/* Hero section */

.mainTexts {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainTexts h1 {
    font-size: 64px;
    font-weight: bold;
}

.mainTexts h2 {
    color: var(--secondary-text-color);
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: -40px;
}